/* Error: This file is already being loaded.
 *    ,--> scss\base\_mapas.scss
 * 1  | @import  "../base/mixins";
 *    |          ^^^^^^^^^^^^^^^^ new load
 *    '
 *    ,--> scss\style.scss
 * 29 | @import "base/mixins";
 *    |         ============= original load
 *    '
 *   scss\base\_mapas.scss 1:10  @import
 *   scss\base\_mixins.scss 2:9  @import
 *   scss\style.scss 29:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: This file is already being loaded.\a    \250c \2500 \2500 > scss\\base\\_mapas.scss\a 1  \2502  @import  "../base/mixins";\d\a    \2502           ^^^^^^^^^^^^^^^^ new load\a    \2575 \a    \250c \2500 \2500 > scss\\style.scss\a 29 \2502  @import "base/mixins";\d\a    \2502          \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a    \2575 \a   scss\\base\\_mapas.scss 1:10  @import\a   scss\\base\\_mixins.scss 2:9  @import\a   scss\\style.scss 29:9        root stylesheet';
}
