@charset "UTF-8";
/*valores generales*/
body {
  cursor: url(../imagenes/cursorr.png), auto;
}

* {
  margin: 0px;
}

a {
  cursor: url(../imagenes/cursorr.png), auto;
  color: rgb(0, 0, 0);
  text-shadow: 2px 0px 3px rgba(228, 167, 197, 0.918);
  text-decoration: none;
}

@font-face {
  font-family: "aAbstractGroovy";
  src: url("../font/aAbstractGroovy.otf");
  src: url("../font/aAbstractGroovy.ttf");
}
footer #texto-footer {
  display: flex;
  justify-content: space-between;
  font-family: "Times New Roman";
  text-align: center;
  margin-bottom: 0.5%;
  margin-top: 0%;
  padding: 2%;
  flex-wrap: wrap;
}
footer #texto-footer div .p .camion {
  width: 2.8rem;
  margin-top: 1%;
}
footer #texto-footer div .p .tarjeta {
  width: 2.8rem;
  margin-top: 1%;
}
footer div .datos {
  margin-top: -5%;
}
footer .candado {
  width: 2.8rem;
  margin-top: 1%;
}
footer div .link-footer {
  box-shadow: -5px -5px 10px 0px rgba(247, 124, 183, 0.5);
  font-family: "Times New Roman";
  padding-top: 1%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer div .link-footer .kitty {
  width: 3.5%;
  height: 3.5%;
}
footer div .link-footer .a .kitty {
  width: 3.5%;
  height: 3.5%;
}
@media screen and (min-width: 320px) and (max-width: 456px) {
  footer #texto-footer {
    font-size: 0.5em;
    margin-bottom: 2.5%;
  }
  footer .candado {
    width: 1.2rem;
    margin-top: -20%;
  }
  footer .camion {
    width: 1.2rem;
    margin-top: -20%;
  }
  footer .datos {
    margin-top: -5%;
  }
  footer .tarjeta {
    width: 1.2rem;
    margin-top: -20%;
  }
  footer .link-footer {
    font-size: 0.6em;
  }
  footer .kitty {
    width: 5%;
    height: 5%;
  }
}
@media screen and (min-width: 457px) and (max-width: 960px) {
  footer #texto-footer {
    font-size: 0.7em;
  }
  footer .candado {
    width: 1.5rem;
    margin-top: -20%;
  }
  footer .camion {
    width: 1.5rem;
    margin-top: -20%;
  }
  footer .datos {
    margin-top: -5%;
  }
  footer .tarjeta {
    width: 1.5rem;
    margin-top: -20%;
  }
  footer .link-footer {
    font-size: 0.8em;
  }
  footer .kitty {
    width: 4%;
    height: 4%;
  }
}
@media screen and (min-width: 961px) and (max-width: 1197px) {
  footer #texto-footer {
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-bottom: 0.5%;
    margin-top: 0%;
    padding: 2%;
    flex-wrap: wrap;
  }
  footer .link-footer {
    box-shadow: -5px -5px 10px 0px rgba(250, 164, 207, 0.5);
    font-family: "Times New Roman", Times, serif;
    padding-top: 1%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.4em;
  }
  footer .candado {
    width: 2.8rem;
    margin-top: 1%;
  }
  footer .camion {
    width: 2.8rem;
    margin-top: 1%;
  }
  footer .datos {
    margin-top: -5%;
  }
  footer .tarjeta {
    width: 2.8rem;
    margin-top: 1%;
  }
  footer .kitty {
    width: 3.5%;
    height: 3.5%;
  }
}
@media screen and (min-width: 1198px) {
  footer #texto-footer {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-bottom: 0.5%;
    margin-top: 0%;
    padding: 2%;
    flex-wrap: wrap;
  }
  footer .link-footer {
    box-shadow: -5px -5px 10px 0px rgba(250, 164, 207, 0.5);
    font-family: "Times New Roman", Times, serif;
    padding-top: 1%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.4em;
  }
  footer .candado {
    width: 2.8rem;
    margin-top: 1%;
  }
  footer .camion {
    width: 2.8rem;
    margin-top: 1%;
  }
  footer .datos {
    margin-top: -5%;
  }
  footer .tarjeta {
    width: 2.8rem;
    margin-top: 1%;
  }
  footer .kitty {
    width: 3.5%;
    height: 3.5%;
  }
}

#whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0.8;
  margin-right: 1%;
  margin-bottom: 1%;
  flex-wrap: wrap;
}
#whatsapp a .icono {
  width: 50px;
}
@media screen and (min-width: 320px) and (max-width: 456px) {
  #whatsapp .icono {
    width: 40px;
  }
}
@media screen and (min-width: 457px) and (max-width: 960px) {
  #whatsapp .icono {
    width: 45px;
  }
}

/*#whatssap{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: .8;
    margin-right: 1%;
    margin-bottom: 1%;
    flex-wrap: wrap; 
    a{
        .icono{
            width: 50px;
        }
    }

    @media screen and (min-width: 320px) and (max-width: 456px) {
        .icono{
            width: 35px;
        } 
    }
    @media screen and (min-width: 457px) and (max-width: 960px) {
    .icono{
        width: 40px;
    }

    }

}*/
header div #encabezado-mobile {
  background-color: black;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  height: 1rem;
  flex-wrap: wrap;
  font-family: "Times New Roman";
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0%;
}
header div .fontencabezado-mobile {
  font-size: 0.5em;
  color: rgb(243, 197, 222);
}
header div #encabezado-mobile {
  background-color: black;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  height: 1rem;
  flex-wrap: wrap;
  font-family: "Times New Roman";
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0%;
}
header div .fontencabezado-mobile {
  font-size: 0.5em;
  color: rgb(243, 197, 222);
}
header #navbar-mobile {
  margin-top: 0%;
  flex-wrap: wrap;
  font-family: "Times New Roman";
  position: fixed;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 1rem;
}
header .navbar .navbar-expand-lg .bg-body-tertiary {
  background-color: rgba(255, 255, 255, 0.8) !important;
  height: 500%;
  padding-top: 0%;
  padding-bottom: 0%;
  font-size: 0.5rem;
}
header .navbar {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
header div .container-fluid {
  --bs-gutter-x: 0.8rem;
}
header div .container {
  --bs-gutter-x: 0.8rem;
}
header div .container-lg {
  --bs-gutter-x: 0.8rem;
}
header div .container-md {
  --bs-gutter-x: 0.8rem;
}
header div .container-sm {
  --bs-gutter-x: 0.8rem;
}
header div .container-xl {
  --bs-gutter-x: 0.8rem;
}
header div .container-xxl {
  --bs-gutter-x: 0.8rem;
}
header div a .navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-right: 0rem;
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
header div a .navbar-brand .tamaño-imagen-header-mobile {
  width: 70%;
  max-width: 10rem;
}
header div div a .instagram-mobile {
  width: 1.2rem;
}
header div div a .facebook-mobile {
  width: 1.2rem;
}
header div .carrito-mobile {
  width: 1.5rem;
  padding-right: 2%;
  padding-bottom: 1%;
}
header div button .navbar-toggler {
  padding: 0.2rem 0.2rem;
  padding-bottom: 0.2rem;
  padding-top: 0.1rem;
  font-size: 0.9rem;
  line-height: 1;
  color: transparent;
  background-color: rgb(243, 197, 222);
  border: transparent;
  border-radius: 0.2rem;
  transition: var(--bs-navbar-toggler-transition);
}
header div button span .navbar-toggler-icon {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
header div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li .nav-item {
  margin-right: 1rem;
}
header div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li .nav-item:last-child {
  margin-right: 0;
}
header div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item {
  margin-right: 1rem;
}
header div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item:last-child {
  margin-right: 0;
}
header div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item .dropdown a .nav-link {
  color: black;
  font-weight: bold;
}
header div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item .dropdown a .nav-link:hover, header div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item .dropdown a .nav-link:active, header div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item .dropdown a .nav-link:focus {
  color: rgba(248, 83, 160, 0.8);
}
header div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item .dropdown a .nav-link.active {
  color: rgba(248, 83, 160, 0.8);
}
header div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item ul .dropdown-menu {
  position: static;
}
@media screen and (min-width: 320px) and (max-width: 456px) {
  div #encabezado-mobile {
    background-color: black;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    height: 1rem;
    flex-wrap: wrap;
    font-family: "Times New Roman";
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0%;
  }
  div .fontencabezado-mobile {
    font-size: 0.5%;
    color: rgb(243, 197, 222);
  }
  div #encabezado-mobile {
    background-color: black;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    height: 1rem;
    flex-wrap: wrap;
    font-family: "Times New Roman";
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0%;
  }
  div .fontencabezado-mobile {
    font-size: 0.5em;
    color: rgb(243, 197, 222);
  }
  #navbar-mobile {
    margin-top: 0%;
    flex-wrap: wrap;
    font-family: "Times New Roman";
    position: fixed;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 1rem;
  }
  .navbar .navbar-expand-lg .bg-body-tertiary {
    background-color: rgba(255, 255, 255, 0.8) !important;
    height: 500%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 0.5rem;
  }
  .navbar {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }
  div .container-fluid {
    --bs-gutter-x: 0.8rem;
  }
  div .container {
    --bs-gutter-x: 0.8rem;
  }
  div .container-lg {
    --bs-gutter-x: 0.8rem;
  }
  div .container-md {
    --bs-gutter-x: 0.8rem;
  }
  div .container-sm {
    --bs-gutter-x: 0.8rem;
  }
  div .container-xl {
    --bs-gutter-x: 0.8rem;
  }
  div .container-xxl {
    --bs-gutter-x: 0.8rem;
  }
  div a .navbar-brand {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 0rem;
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div a .navbar-brand .tamaño-imagen-header-mobile {
    width: 70%;
    max-width: 10rem;
  }
  div div a .instagram-mobile {
    width: 1.2rem;
  }
  div div a .facebook-mobile {
    width: 1.2rem;
  }
  div .carrito-mobile {
    width: 1.5rem;
    padding-right: 2%;
    padding-bottom: 1%;
  }
  div button .navbar-toggler {
    padding: 0.2rem 0.2rem;
    padding-bottom: 0.2rem;
    padding-top: 0.1rem;
    font-size: 0.9rem;
    line-height: 1;
    color: transparent;
    background-color: rgb(243, 197, 222);
    border: transparent;
    border-radius: 0.2rem;
    transition: var(--bs-navbar-toggler-transition);
  }
  div button span .navbar-toggler-icon {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li .nav-item {
    margin-right: 1rem;
  }
  div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li .nav-item:last-child {
    margin-right: 0;
  }
  div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item {
    margin-right: 1rem;
  }
  div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item:last-child {
    margin-right: 0;
  }
  div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item .dropdown a .nav-link {
    color: black;
    font-weight: bold;
  }
  div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item .dropdown a .nav-link:hover, div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item .dropdown a .nav-link:active, div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item .dropdown a .nav-link:focus {
    color: rgba(248, 83, 160, 0.8);
  }
  div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item .dropdown a .nav-link.active {
    color: rgba(248, 83, 160, 0.8);
  }
  div div #navbarSupportedContent ul .navbar-nav .me-auto .mb-2 .mb-lg-0 li li .nav-item ul .dropdown-menu {
    position: static;
  }
}
@media screen and (min-width: 457px) and (max-width: 960px) {
  #encabezado-mobile, #navbar-mobile {
    display: none;
  }
  .carrito-mobile, .instagram-mobile, .facebook-mobile {
    display: none;
  }
}
@media screen and (min-width: 961px) and (max-width: 1197px) {
  #encabezado-mobile, #navbar-mobile {
    display: none;
  }
  .carrito-mobile, .instagram-mobile, .facebook-mobile {
    display: none;
  }
}
@media screen and (min-width: 1198px) {
  #encabezado-mobile, #navbar-mobile {
    display: none;
  }
  .carrito-mobile, .instagram-mobile, .facebook-mobile {
    display: none;
  }
}
#encabezado {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  position: relative;
  justify-content: center;
  padding-bottom: 0.5rem;
  height: 2.5rem;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 2;
  font-family: "Times New Roman";
}
#encabezado div .fontencabezado {
  color: rgb(243, 197, 222);
  font-size: 0.87em;
  flex-wrap: wrap;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
}
#encabezado div #caja-principal-encabezado div #caja-principal-encabezado div #cajitas-encabezado1 {
  position: absolute;
  top: 60%;
  left: 1%;
  transform: translateY(-60%);
  flex-wrap: wrap;
}
#encabezado div #caja-principal-encabezado div #caja-principal-encabezado div a img .tamaño-imagen-header {
  width: 90px;
}
#encabezado div div #cajitas-encabezado2 {
  position: absolute;
  top: 60%;
  right: 1%;
  transform: translateY(-60%);
  flex-wrap: wrap;
}
#encabezado div div img .carrito {
  width: 30px;
}
#encabezado div div a img .instagram {
  width: 25px;
}
#encabezado div div a img .facebook {
  width: 25px;
}

@media screen and (max-width: 456px) {
  #encabezado {
    display: none;
  }
  .fontencabezado, .cajitas-encabezado1, .cajitas-encabezado2, .tamaño-imagen-header, .carrito, .instagram, .facebook {
    display: none;
  }
}
#grid-contenedor-index { /*main*/
  margin-top: 2.5rem;
  margin-bottom: 0rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo productos items" "logo productos items" "logo productos items";
}
#grid-contenedor-index .grid-logo { /*SECCION*/
  grid-area: logo;
  justify-self: center;
  align-self: center;
}
#grid-contenedor-index .grid-logo #logo-productos {
  display: flex;
  justify-content: space-between;
  font-family: Times;
}
#grid-contenedor-index .grid-logo #logo-productos img .logo-corazon {
  width: 100%;
  height: 100%;
}

#grid-productos {
  grid-area: productos;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  /*MENU DESPLEGABLE*/
}
#grid-productos div .productos-seccion {
  font-size: 1.5rem;
  font-weight: bold;
}
#grid-productos div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#grid-productos div .productos-flex {
  display: flex;
  justify-content: center;
}
#grid-productos div .conjunto-botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
#grid-productos div .botones {
  justify-content: center;
  align-items: center;
  font-family: "aAbstractGroovy", cursive;
  text-align: center;
  width: 100px;
  height: 10px;
  background-color: #ffffff;
  filter: drop-shadow(5px 3px 4px #f8c3dc);
  border: 1px solid rgb(247, 216, 233);
  border-radius: 80px;
  font-size: 0.8rem;
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 2%;
  padding-top: 0.3rem;
  padding-bottom: 1.2rem;
  position: relative;
  flex-wrap: wrap;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
#grid-productos div .botones:hover {
  background-color: #f8c3dc;
}
#grid-productos #grid-menu-desplegable {
  grid-area: items;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  position: relative;
  right: 3%;
  flex-wrap: wrap;
}
#grid-productos #grid-menu-desplegable .seccion-menu {
  display: flex;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  padding-top: 0%;
  padding-bottom: 0%;
  flex-direction: column;
  position: relative;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista .barbie {
  flex-wrap: wrap;
  display: flex;
  justify-content: end;
  position: relative;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista .barbie .size-barbie {
  width: 37%;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista .caja-botones-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista .caja-botones-index .boton-menu-index {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "aAbstractGroovy", cursive;
  width: 6.25rem;
  height: 0.7rem;
  background-color: #ffe3f0;
  filter: drop-shadow(5px 3px 4px #f8c3dc);
  border: 1px solid #ffe3f0;
  border-radius: 80px;
  font-size: 0.7rem;
  margin-top: 0.5rem;
  margin-right: 0rem;
  margin-left: 0rem;
  margin-bottom: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista .caja-botones-index .boton-menu-index a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista .caja-botones-index .boton-menu-index a:hover {
  color: #FFB6C1;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista .caja-botones-index .dropdown-index {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "aAbstractGroovy", cursive;
  width: 6.25rem;
  height: 0.7rem;
  background-color: #ffe3f0;
  filter: drop-shadow(5px 3px 4px #f8c3dc);
  border: 1px solid #ffe3f0;
  border-radius: 80px;
  font-size: 0.7rem;
  margin-top: 0.5rem;
  margin-right: 0rem;
  margin-left: 0rem;
  margin-bottom: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista .caja-botones-index .dropdown-index .btn-secondary {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista .caja-botones-index .dropdown-index .btn-secondary:hover {
  color: #FFB6C1;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista .caja-botones-index .dropdown-index .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista .caja-botones-index .dropdown-index .dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista .caja-botones-index .dropdown-index .dropdown-menu .dropdown-item:hover, #grid-productos #grid-menu-desplegable .seccion-menu #lista .caja-botones-index .dropdown-index .dropdown-menu .dropdown-item:focus {
  color: #fff;
  background-color: #FFB6C1;
}
#grid-productos #grid-menu-desplegable .seccion-menu #lista .caja-botones-index .dropdown-index:hover .dropdown-menu {
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 456px) {
  #grid-contenedor {
    margin-top: 2.7rem;
    margin-bottom: 0rem;
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo productos" "logo productos" "logo productos";
  }
  /*LOGO CORAZON*/
  .grid-logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
  }
  #logo-productos {
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .logo-corazon {
    width: 100%;
    height: 100%;
    margin-left: 5%;
  }
  /*PRODUCTOS*/
  #grid-productos {
    grid-area: productos;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding-bottom: 55%;
    margin-bottom: 5%;
    margin-left: 5%;
  }
  .productos-flex {
    flex-direction: column;
    position: absolute;
    top: 1%;
    bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 25%;
    flex-wrap: wrap;
  }
  .productos-seccion {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-family: "aAbstractGroovy", cursive;
    color: rgba(0, 0, 0, 0);
    font-size: 135%;
    text-shadow: 2px 0px 3px rgba(245, 8, 138, 0.5), 4px 0px 3px rgba(153, 122, 137, 0.904);
    position: relative;
    flex-wrap: wrap;
  }
  .botones {
    justify-content: center;
    align-items: center;
    font-family: "aAbstractGroovy", cursive;
    text-align: center;
    width: 90px;
    height: 10px;
    background-color: #ffffff;
    filter: drop-shadow(5px 3px 4px #f8c3dc);
    border: 1px solid rgb(247, 216, 233);
    border-radius: 80px;
    font-size: 0.7rem;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    padding-top: 0.1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
  }
  .conjunto-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    margin: 4%;
    margin-top: 0%;
    flex-wrap: wrap;
  }
  /*MENU DESPLEGABLE*/
  #grid-menu-desplegable {
    display: none;
  }
}
@media screen and (min-width: 457px) and (max-width: 960px) {
  /*PRODUCTOS*/
  #grid-productos {
    padding-bottom: 60%;
  }
  .productos-flex {
    top: 0%;
    bottom: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 25%;
    border: 1px solid rgb(255, 255, 255);
  }
  .productos-seccion {
    padding-top: 2%;
    font-size: 1.38em;
    border: 1px solid rgb(255, 255, 255);
  }
  .botones {
    width: 90px;
    height: 10px;
    border-radius: 80px;
    font-size: 0.7rem;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
  }
  .conjunto-botones {
    bottom: 10%;
    padding-bottom: 0%;
    padding-top: 2%;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 0%;
  }
  /*MENU DESPLEGABLE*/
  #grid-menu-desplegable {
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .seccion-menu {
    border: 1px solid rgb(255, 255, 255);
    position: relative;
  }
  #lista {
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .barbie {
    display: none;
  }
  .caja-botones-index {
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .boton-menu-index, .dropdown-index {
    width: 5rem;
    height: 10rem;
    font-size: 0.6rem;
    margin-top: 1rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
  }
  .dropdown-index {
    z-index: 1;
  }
}
@media screen and (min-width: 961px) and (max-width: 1197px) {
  /*PRODUCTOS*/
  .productos-flex {
    position: absolute;
    top: 2rem;
    bottom: 3.5rem;
  }
  .botones {
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 0.4rem;
    padding-bottom: 1.4rem;
  }
  .conjunto-botones {
    top: 18%;
  }
  /*MENU DESPLEGABLE*/
  .caja-botones-index {
    bottom: 10%;
  }
  .boton-menu-index, .dropdown-index {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
}
#grid-contenedor-contacto {
  border: 2px solid #ffffff;
  margin-top: 2.5rem;
  margin-bottom: 0rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "formularioo menuu" "formularioo menuu" "mapa menuu";
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto {
  grid-area: menuu;
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 37%;
  width: 60%;
  flex-wrap: wrap;
  top: 0%;
  box-shadow: none;
  border-bottom-left-radius: 1.8em;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  padding-top: 0%;
  padding-bottom: 0%;
  flex-direction: column;
  position: relative;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .barbie-contacto {
  border: 2px solid rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 4;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .barbie-contacto .size-barbie-contacto {
  width: 75%;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .caja-botones {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10%;
  left: 10%;
  top: 15%;
  align-items: center;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .caja-botones .boton-menu {
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1 !important;
  background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 16 !important;
  filter: none !important;
  border: 0em;
  border-radius: 0em !important;
  font-size: 0.7rem !important;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .caja-botones .boton-menu .dropdown {
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1 !important;
  background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 16 !important;
  filter: none !important;
  border-radius: 0em !important;
  font-size: 0.7rem !important;
  margin-top: 10% !important;
  z-index: 1;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .caja-botones .boton-menu .dropdown a .btn-secondary {
  cursor: url(../imagenes/cursorr.png), auto;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .caja-botones .boton-menu .dropdown a .dropdown-toggle {
  cursor: url(../imagenes/cursorr.png), auto;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .caja-botones .boton-menu .dropdown .dropdown-menu {
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1;
  font-size: 1rem;
  background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 10;
  border-radius: 0%;
  flex-wrap: wrap;
  filter: none;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .caja-botones .boton-menu .dropdown .dropdown-menu p a .dropdown-item {
  display: block;
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1;
  display: flex;
  clear: both;
  font-size: 0.65em;
  color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 15;
  padding-bottom: 0%;
  text-decoration: none;
  background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 10;
  flex-wrap: wrap;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .caja-botones .boton-menu .dropdown .dropdown-menu p a .dropdown-item {
  display: block;
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1;
  display: flex;
  clear: both;
  font-size: 0.65em;
  color: rgb(0, 0, 0);
  padding-bottom: 0%;
  text-decoration: none;
  background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 10;
  flex-wrap: wrap;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .caja-botones .boton-menu .dropdown .dropdown-menu p a .dropdown-item {
  display: block;
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1;
  display: flex;
  clear: both;
  font-size: 0.65em;
  color: rgb(0, 0, 0);
  padding-bottom: 0%;
  text-decoration: none;
  background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 10;
  flex-wrap: wrap;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .caja-botones .boton-menu .dropdown .dropdown-menu p a .dropdown-item {
  display: block;
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1;
  display: flex;
  clear: both;
  font-size: 0.65em;
  color: rgb(0, 0, 0);
  padding-bottom: 0%;
  text-decoration: none;
  background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 10;
  flex-wrap: wrap;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .caja-botones .boton-menu .dropdown .dropdown-menu p a .dropdown-item {
  display: block;
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1;
  display: flex;
  clear: both;
  font-size: 0.65em;
  color: rgb(0, 0, 0);
  padding-bottom: 0%;
  text-decoration: none;
  background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 10;
  flex-wrap: wrap;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .caja-botones .boton-menu .dropdown .dropdown-menu p a .dropdown-item {
  display: block;
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1;
  display: flex;
  clear: both;
  font-size: 0.65em;
  color: rgb(0, 0, 0);
  padding-bottom: 0%;
  text-decoration: none;
  background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 10;
  flex-wrap: wrap;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #lista-contacto .caja-botones .boton-menu .dropdown .boton-menu {
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1 !important;
  background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 16 !important;
  filter: none !important;
  border: 0em;
  border-radius: 0em !important;
  font-size: 0.7rem !important;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo {
  grid-area: formularioo;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 4;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo .tittle-pages {
  font-family: "aAbstractGroovy", cursive;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 2%;
  border: 2px solid rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 4;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo .tittle-pages nav a {
  font-size: 20px;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo .tittle-pages nav .logo-corazon-pag {
  width: 8%;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo .tittle-pages nav span {
  font-size: 30px;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form {
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding: 3.1em 3.43em;
  background-image: url(../imagenes/fondodestellos.png);
  box-shadow: 0 0 20px rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 9;
  text-align: center;
  border-radius: 1.87em;
  width: 21.25em;
  position: relative;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .input-group-formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .input-group-formulario label {
  margin-bottom: 0.93em;
  font-size: 0.81em;
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 2;
  border-radius: 10px;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .input-group-formulario input[type=text],
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .input-group-formulario label {
  margin-bottom: 0.93em;
  font-size: 0.81em;
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 2;
  border-radius: 10px;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .input-group-formulario input[type=tel],
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .input-group-formulario label {
  margin-bottom: 0.93em;
  font-size: 0.81em;
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 2;
  border-radius: 10px;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .input-group-formulario input[type=email],
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .input-group-formulario label {
  margin-bottom: 0.93em;
  font-size: 0.81em;
  font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 2;
  border-radius: 10px;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .input-group-formulario textarea {
  padding: 0 10px;
  width: 100%;
  height: 5%;
  padding: 0.93em 1.56em;
  border-radius: 1.5em;
  margin-bottom: 1.25em;
  background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 1;
  border: 2px solid rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 1;
  outline: none;
  font-size: 0.8em;
  text-align: center;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .input-group-formulario textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 1;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .input-group-formulario input[type=submit] {
  width: 100%;
  height: 5%;
  padding: 0.93em 1.56em;
  border-radius: 1.5em;
  margin-bottom: 1.25em;
  background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 1;
  border: 2px solid rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 1;
  outline: none;
  font-size: 0.8em;
  text-align: center;
  cursor: url(../../imagenes/cursorr.png);
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .input-group-formulario input[type=submit]:hover {
  background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 1;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .btn {
  color: #fff;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: url(../../imagenes/cursorr.png);
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .btn:hover {
  background-color: #0062cc;
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .btn {
  color: #fff;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: url(../../imagenes/cursorr.png);
}
#grid-contenedor-contacto #grid-menu-desplegable-page-contacto .seccion-menu #formularioo form .btn:hover {
  background-color: #0069d9;
}
#grid-contenedor-contacto section #mapa {
  grid-area: mapa;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  justify-self: center;
  margin-top: 5%;
  margin-bottom: 3%;
}
#grid-contenedor-contacto section #mapa iframe, #grid-contenedor-contacto section #mapa .mapa {
  width: 100%;
  border-radius: 1.8em;
}
@media screen and (min-width: 320px) and (max-width: 456px) {
  #grid-contenedor-contacto .nav-item {
    font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1;
  }
  #grid-contenedor-contacto .dropdown {
    font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1;
    font-size: 5rem;
    border-radius: 0px;
    background-color: transparent;
    filter: none;
    background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 2;
    border-color: transparent;
  }
  #grid-contenedor-contacto .dropdown {
    z-index: 1;
  }
  #grid-contenedor-contacto .dropdown-menu {
    font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1;
    font-size: 1rem;
    background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 10;
    border-radius: 0%;
    flex-wrap: wrap;
    filter: none;
  }
  #grid-contenedor-contacto .dropdown-item {
    display: block;
    font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1;
    display: flex;
    clear: both;
    font-size: 0.65em;
    color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 15;
    padding-bottom: 0%;
    text-decoration: none;
    background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 10;
    flex-wrap: wrap;
  }
  #grid-contenedor-contacto .boton-menu {
    font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1 !important;
    background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 16 !important;
    filter: none !important;
    border: 0em;
    border-radius: 0em !important;
    font-size: 0.7rem !important;
  }
  #grid-contenedor-contacto .dropdown {
    font-family: "Times New Roman", Times, serif, "aAbstractGroovy", cursive, 1 !important;
    background-color: rgb(243, 197, 222), rgba(245, 8, 138, 0.5), rgba(247, 124, 183, 0.5), #ffffff, rgba(235, 47, 141, 0.1), rgba(247, 225, 241, 0.8), #f7acd7, rgb(248, 160, 209), rgba(250, 164, 207, 0.5), rgba(248, 83, 160, 0.8), rgba(250, 164, 207, 0.9), rgba(123, 170, 224, 0.918), rgba(187, 44, 44, 0.918), rgba(209, 205, 207, 0.5), black, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0), 4 !important;
    filter: none !important;
    border-radius: 0em !important;
    font-size: 0.7rem !important;
    margin-top: 10% !important;
  }
}

/*# sourceMappingURL=style.css.map */
