@import "../base/listas";
@import "../base/mixin";


/*<!--MENU DESPLEGABLE-->*/
#grid-contenedor-angel{
        margin-top: 2.5rem;
        margin-bottom: 0rem;
        display: grid; 
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "carousel menuu"
        "video menuu"  ;

    #grid-menu-desplegable-page-angel{
        .seccion-menu{ 
            #lista{
                ul.barbie-angel{
                    img.size-barbie-angel {}
                }//</ul>//
                .caja-botones-angel{
                    display: flex;
                    flex-direction: column;
                    align-self: flex-end;
                    justify-content: center;
                    position: absolute;
                    bottom: 5%; 
                    ul.ul-angel{
                            li.boton-menu-angel{
                            a{}
                            }//</li>//       
                            li#dropdown-angel{
                                a.btn-secondary.dropdown-toggle{}
                                    ul.dropdown-menu{
                                        li{
                                        a{}
                                        }
                                        li{
                                        a{}
                                        }
                                        li{
                                        a{}
                                        }
                                        li{
                                        a{}
                                        }
                                        li{
                                        a{}
                                        }
                                        li{
                                        a{}
                                        }  
                                    }//</ul>//
                                }//</li>//    
                            li.boton-menu-angel{
                            a{}
                            }
                        }//</ul>//
                }//caja-botones-index//
            }//</div>//         
        }//</div>//
    }//</section>*//

    section#grid-carousel{
    h1.tittle-angel{
        span.span-angel{}
    }
}

}
    div#carrousel-pages{
        margin-top: 3%;
    }
    #video-pages{
        width: 100%;
        display: block;
        margin: auto;
    }
    
    h1.tittle-angel{
        display: flex;
        flex-direction: column;
        text-align: center;
        //width: 92%;//
        height: 7%;
        margin-left: 7%;
        text-shadow: 2px 0px 3px rgba(123, 170, 224, 0.918);
        background-color: rgba(243, 216, 237, 0.9)!important;
        padding-top: 0%;
        padding-bottom: 0%;
        font-family: th($font, 1) ;
        font-size: 2.5rem;
        box-shadow: 0 0 20px rgba(209, 205, 207, 0.5);
        border-bottom-left-radius: 0.6em;
        border-bottom-right-radius: 0.6em;  
    }
    
    #grid-video-angel{
        grid-area: video;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    
    .angel-page{
        width: 80%;
        display: block;
        margin: auto;
    }

    h1.tittle-angel{
        font-family:nth($font, 1);
    }
    
    
    h1 span.span-angel{
        font-size: 30px;
    }
   
    

////////////////////////////////////////////////


.boton-menu-angel{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:nth($font, 1);
    width: 6.25rem;
    height: 0.7rem;
    background-color:nth($colores, 1);
    filter: drop-shadow(5px 3px 4px nth($colores, 8));
    border: 1px solid nth($colores, 1);
    border-radius: 80px;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-bottom: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    &:hover {
        background-color: nth($colores, 4);
      }
}

li#dropdown-angel{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:nth($font, 1);
    width: 6.25rem;
    height: 0.7rem;
    background-color:nth($colores, 1);
    border: 1px solid nth($colores, 1);
    border-radius: 80px;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-bottom: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    &:hover {
        background-color: nth($colores, 4);
      } 
    filter: drop-shadow(5px 3px -4px nth($colores, 8));  
}

a.btn-secondary.dropdown-toggle{
    cursor: url(../imagenes/cursorr.png), auto;
    filter: drop-shadow(5px 3px 4px nth($colores, 8));  
}

/*MENU DESPLEGABLE*/
#grid-menu-desplegable-page-angel{
    grid-area: menuu;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 37%;
    width: 60%;
    flex-wrap: wrap;
    top: 0%;
    box-shadow: 0 0 20px rgba(117, 115, 116, 0.5);
    border-bottom-left-radius: 1.8em;
}

//////////////////////////////////////
@include mobile{
    /*MENU DESPLEGABLE*/
    section#grid-menu-desplegable-page-angel{
        display: none;
    }

    div.caja-botones-angel, .barbie-angel{
        display: none;
    }
    #lista{
        display: none;
    } 
}

@include mobile{
    #grid-contenedor-angel{
        margin-top: 3.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        margin-right: 3%;
    }

    #grid-menu-desplegable-page-angel{
        display: none;
     }

}

@include tablet{
    .tamaño-imagen-header-mobile{
        display: none;
    }
    #encabezado-mobile, #navbar-mobile{
        display: none;
    }

    
    section#grid-menu-desplegable-page-angel{
        grid-area: menuu;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-direction: none;
        position: none;
        flex-wrap: wrap;
        border-bottom-left-radius: none;
        box-shadow: none;
        
    }

    .barbie-angel{
        
        display: none; 
 }

 .size-barbie-angel{
     display: none;
 }


    .tittle-angel{
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    margin-top: -4.5px;
    left: 5%;
    width: 80%;
    height: 9.5%;
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;  
    
}

h1 span.span-angel{
    font-size: 60%;
    padding-top: 0%;
    padding-bottom: 0%;
}

 div.caja-botones-angel{
    flex-direction: none;
    position: relative !important;
    flex-wrap: wrap;
    box-shadow: none;
    border-bottom-left-radius: none;
    transform: translatey(95%);
     
 }
 ul.ul-angel{
   position: relative;
   right: 30%;
 }

 li.boton-menu-angel, #dropdown-angel{
 
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-family:'aAbstractGroovy', cursive;
     width: 7rem;
     height: 1rem;
     background-color:#ffe3f0 ;
     filter: drop-shadow(5px 3px -4px #f8c3dc);
     border: 1px solid #ffe3f0;
     border-radius: 80px;
     font-size: 0.7rem;
     margin-top: 1.5rem;
     margin-right: 2rem;
     margin-left: 0rem;
     margin-bottom: 1.5rem;
     padding-top: 1.7rem;
     padding-bottom: 1.5rem;
     padding-right: 1.8rem;
     padding-left: 1.8rem;  
 }

 .botones{
     width: 100px;
     height: 30px;
     
 }
 
 ul.dropdown-menu.show {
     display: block;
     font-size: 160%;
     background-color: nth($colores, 16);
     padding-top: 3%;
     font-family:nth($font, 3); 
     border: 1px solid nth($colores, 1);
     z-index: 99;
 }
 
 a.btn-secondary.dropdown-toggle{
     font-family: nth($font, 1); 
 }
 
 
 ul.dropdown-menu.show {
     --bs-dropdown-link-color: var(--bs-body-color);
     --bs-dropdown-link-hover-color: #e43394;;
     --bs-dropdown-link-hover-bg: #f5d0e4;
     --bs-dropdown-link-active-color: #e43394;
     --bs-dropdown-link-active-bg: nth($colores, 1);
     --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
     --bs-dropdown-item-padding-x: 2rem;
     --bs-dropdown-item-padding-y: 0.2rem;
     --bs-dropdown-header-padding-x: 0rem;
     --bs-dropdown-header-padding-y: 0rem;
     z-index: 99!important; 
 }
 
 li.boton-menu-angel, #dropdown-angel {
     
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-family: nth($font, 1);
     width: 7rem;
     height: 1rem;
     background-color: #ffe3f0;
     filter: drop-shadow(5px 3px -4px #f8c3dc);
     border: 1px solid #ffe3f0;
     border-radius: 80px;
     font-size: 0.7rem;
     margin-top: 1.5rem;
     margin-right: 2rem;
     margin-left: 0rem;
     margin-bottom: 1.5rem;
     padding-top: 1.7rem;
     padding-bottom: 1.5rem;
     padding-right: 1.8rem;
     padding-left: 1.8rem;
 }
 
 li#dropdown-angel {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-family: nth($font, 1);
     width: 7rem;
     height: 1rem;
     background-color: #ffe3f0;
     filter: drop-shadow(5px 3px -4px #f8c3dc);
     border: 1px solid #ffe3f0;
     border-radius: 80px;
     font-size: 0.7rem;
     margin-top: 1.5rem;
     margin-right: 2rem;
     margin-left: 0rem;
     margin-bottom: 1.5rem;
     padding-top: 1.7rem;
     padding-bottom: 1.5rem;
     padding-right: 1.8rem;
     padding-left: 1.8rem;
 }

 }


 @include desktop{

    .tamaño-imagen-header-mobile{
        display: none;
    }
    #encabezado-mobile, #navbar-mobile{
        display: none;
    }
    
    section#grid-carousel{
       
    }
    
    #grid-menu-desplegable-page-angel{
        grid-area: menuu;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 37%;
        width: 60%;
        flex-wrap: wrap;
        top: 0%;
        box-shadow: 0 0 20px rgba(117, 115, 116, 0.5);
        border-bottom-left-radius: 1.8em;
    }


h1 span.span-angel{
    font-size: 0.85em;
}

h1.tittle-angel{
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    left: 5%;
    top: -1%;
    width: 80%;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;  
}

ul.barbie-angel{
    flex-wrap: wrap; 
    display: flex;
    justify-content: end;
    position: relative;
    right: 10%;
    
}

img.size-barbie-angel{
    width: 57%;
}
div#lista{
    position:relative;
    top: -22%;
}

div.caja-botones-angel{
    left: 12%;
    flex-direction: none;
    position: relative;
    flex-wrap: wrap;
    box-shadow: none;
    border-bottom-left-radius: none;
    transform: translatey(120%);
}

li.boton-menu-angel, #dropdown-angel{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:'aAbstractGroovy', cursive;
    width: 7rem;
    height: 1rem;
    background-color:#ffe3f0 ;
    filter: drop-shadow(5px 3px -4px #f8c3dc);
    border: 1px solid #ffe3f0;
    border-radius: 80px;
    font-size: 0.7rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    margin-left: 0rem;
    margin-bottom: 1.5rem;
    padding-top: 1.7rem;
    padding-bottom: 1.5rem;
    padding-right: 1.8rem;
    padding-left: 1.8rem;  
}

.botones{
    width: 100px;
    height: 30px;
    
}

ul.dropdown-menu.show {
    display: block;
   
    background-color: nth($colores, 16);
    padding-top: 3%;
    font-family:nth($font, 3); 
    border: 1px solid nth($colores, 1);
    z-index: 99;
    width: 150%;
    height: auto;
}

a.dropdown-item{
    font-size: 120%;
}

a.btn-secondary.dropdown-toggle{
    font-family: nth($font, 1); 
}


ul.dropdown-menu.show {
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: #e43394;;
    --bs-dropdown-link-hover-bg: #f5d0e4;
    --bs-dropdown-link-active-color: #e43394;
    --bs-dropdown-link-active-bg: nth($colores, 1);
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 2rem;
    --bs-dropdown-item-padding-y: 0.2rem;
    --bs-dropdown-header-padding-x: 0rem;
    --bs-dropdown-header-padding-y: 0rem;
    z-index: 99!important; 
}

li.boton-menu-angel, #dropdown-angel {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: nth($font, 1);
    width: 7rem;
    height: 1rem;
    background-color: #ffe3f0;
    filter: drop-shadow(5px 3px -4px #f8c3dc);
    border: 1px solid #ffe3f0;
    border-radius: 80px;
    font-size: 0.7rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    margin-left: 0rem;
    margin-bottom: 1.5rem;
    padding-top: 1.7rem;
    padding-bottom: 1.5rem;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
}

li#dropdown-angel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: nth($font, 1);
    width: 7rem;
    height: 1rem;
    background-color: #ffe3f0;
    filter: drop-shadow(5px 3px -4px #f8c3dc);
    border: 1px solid #ffe3f0;
    border-radius: 80px;
    font-size: 0.7rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    margin-left: 0rem;
    margin-bottom: 1.5rem;
    padding-top: 1.7rem;
    padding-bottom: 1.5rem;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
}

}

@include pantalla-grande{

    .tamaño-imagen-header-mobile{
        display: none;
    }
    #encabezado-mobile, #navbar-mobile{
        display: none;
    }

    
    #grid-menu-desplegable-page-angel{
        grid-area: menuu;
        font-family: nth($font, 3);
        display: flex;
        flex-direction: column;
        position: relative;
        left: 37%;
        width: 60%;
        flex-wrap: wrap;
        top: 0%;
        box-shadow: 0 0 20px rgba(117, 115, 116, 0.5);
        border-bottom-left-radius: 1.8em;
    }

    h1 span.span-angel{
        font-size: 0.90em;
    }

    h1.tittle-angel{
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: column;
        margin-top: 0%;
        margin-left: 10%;
        padding-top: 1%;
        font-size: 50px;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        width: 80%;  
    }

    ul.barbie-angel{
        flex-wrap: wrap; 
        display: flex;
        justify-content: end;
        position: relative;
        margin-top: 0%;
    }

    div#lista{
        top: 1%;
    }
    
    img.size-barbie-angel{
        width: 150px;
        margin-right: 5%;
        margin-left: 5%;
    }
  
    div.caja-botones-angel{
        left: 22%;
        flex-direction: none;
        position: relative;
        flex-wrap: wrap;
        box-shadow: none;
        top: 170%;
        border-bottom-left-radius: none;
        //transform: translatey(-170%);//
    }

    li.boton-menu-angel, #dropdown-angel{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family:'aAbstractGroovy', cursive;
        width: 8.5rem;
        height: 1.5rem;
        background-color:#ffe3f0 ;
        filter: drop-shadow(5px 3px -4px #f8c3dc);
        border: 1px solid #ffe3f0;
        border-radius: 80px;
        //font-size: 100%;//
        margin-top: 3.5rem;
        margin-right: 2rem;
        margin-left: 0rem;
        margin-bottom: 3.5rem;
        padding-top: 1.7rem;
        padding-bottom: 1.5rem;
        padding-right: 1.8rem;
        padding-left: 1.8rem;  
    }

    li.boton-menu-angel{
        font-size: 120%;
    }


    .botones{
        width: 100px;
        height: 30px;
        
    }
    
    ul.dropdown-menu.show {
        display: block;
        background-color: nth($colores, 16);
        padding-top: 3%;
        font-family:nth($font, 3); 
        border: 1px solid nth($colores, 1);
        z-index: 99;
        width: 150%;
        height: auto;
    }
    
    a.dropdown-item{
        font-size: 120%;
    }

    a.btn-secondary.dropdown-toggle{
        font-family: nth($font, 1);
        font-size: 100%; 
    }
    
    
    ul.dropdown-menu.show {
        --bs-dropdown-link-color: var(--bs-body-color);
        --bs-dropdown-link-hover-color: #e43394;;
        --bs-dropdown-link-hover-bg: #f5d0e4;
        --bs-dropdown-link-active-color: #e43394;
        --bs-dropdown-link-active-bg: nth($colores, 1);
        --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
        --bs-dropdown-item-padding-x: 2rem;
        --bs-dropdown-item-padding-y: 0.2rem;
        --bs-dropdown-header-padding-x: 0rem;
        --bs-dropdown-header-padding-y: 0rem;
        z-index: 99!important; 
    }
    
    li.boton-menu-angel, #dropdown-angel {
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "aAbstractGroovy", cursive;
        width: 7rem;
        height: 1rem;
        background-color: #ffe3f0;
        filter: drop-shadow(5px 3px -4px #f8c3dc);
        border: 1px solid #ffe3f0;
        border-radius: 80px;
        font-size: 0.7rem;
        margin-top: 1.5rem;
        margin-right: 2rem;
        margin-left: 0rem;
        margin-bottom: 1.5rem;
        padding-top: 1.7rem;
        padding-bottom: 1.5rem;
        padding-right: 1.8rem;
        padding-left: 1.8rem;
    }
    
    li#dropdown-angel {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "aAbstractGroovy", cursive;
        width: 7rem;
        height: 1rem;
        background-color: #ffe3f0;
        filter: drop-shadow(5px 3px -4px #f8c3dc);
        border: 1px solid #ffe3f0;
        border-radius: 80px;
        font-size: 0.7rem;
        margin-top: 1.5rem;
        margin-right: 2rem;
        margin-left: 0rem;
        margin-bottom: 1.5rem;
        padding-top: 1.7rem;
        padding-bottom: 1.5rem;
        padding-right: 1.8rem;
        padding-left: 1.8rem;
    }

}
    


    
      