@import "../base/listas";
@import "../base/mixin";



/*<!--MENU DESPLEGABLE-->*/
#grid-contenedor-contacto{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 2.5rem;
    margin-bottom: 0rem;
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "formularioo menuu"
    "formularioo menuu"
    "mapa menuu"       ;

    #grid-menu-desplegable-page-contacto{
        .seccion-menu{ 
            #lista-contacto{
                ul .barbie-contacto{
                    img .size-barbie-contacto {}
                }//</ul>//
                div .caja-botones{
                    ul .boton-menu{
                    a{}
                }//</ul>//         
                    ul .dropdown{
                        a .btn-secondary {} 
                            div .dropdown-menu{
                                p{
                                    a .dropdown-item{}
                                }
                                p{
                                    a .dropdown-item{}
                                }
                                p{
                                    a .dropdown-item{}
                                }
                                p{
                                    a .dropdown-item{}
                                }
                                p{
                                    a .dropdown-item{}
                                }
                                p{
                                    a .dropdown-item{}
                                }
                                
                            }//</div>//
                        }//</ul>dropdown//   
                    ul.boton-menu{
                    a{}
                    }//</ul>//
                }//</div>caja-botones//
            }//</div>//         
        }//</div>//
    }//</section>*//

    #formularioo{
        
        h1.tittle-pages{
            
            nav{
            a.inicio-contacto{ 
            //Inicio//
            }//</a>//
            img.logo-corazon-pag{}
            span{}
            }//<nav>//
        }//</h1>//
        form {
            
            div.input-group-formulario{
                
                 label{
                
                 }
                 input #name{}
                 label{
                
                 }
                 input #phone{}
                 label{
                
                 }
                 input #name{}
                 label{
                 
                 }
                textarea #message{
                    
                }
                input .btn{
                    
                }
            }//</div>//
        }//</form>//
    }//</section>formularioo//
}
//////////////////////////////////////////////
#grid-contenedor{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 2.5rem;
    margin-bottom: 0rem;
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "formularioo menuu"
    "formularioo menuu"
    "mapa menuu"       
}

/* FORMULARIO */

h1{
    font-family:'aAbstractGroovy', cursive;
}

h1 a{
    font-size: 20px;
}
h1 span{
    font-size: 30px;
}
.logo-corazon-pag{
    width: 8%;
}

#formularioo{
    grid-area: formularioo;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid rgb(255, 255, 255);
}

.tittle-pages{
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 2%;
    border: 2px solid rgb(255, 255, 255);
}

form{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding: 3.1em 3.43em;
    background-image: url(../imagenes/fondodestellos.png);
    box-shadow: 0 0 20px rgba(250, 164, 207, 0.5);
    text-align: center;
    border-radius: 1.87em;
    width: 21.25em;
    position: relative;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: center;
}


label{
    margin-bottom: 0.93em;
    font-size: 0.81em;
    font-family:'aAbstractGroovy', cursive;
    border-radius: 10px;
}

input, textarea{
    width: 100%;
    height: 5%;
    padding: 0.93em 1.56em;
    border-radius: 1.5em;
    margin-bottom: 1.25em;
    background-color: #fce7f1;
    border: 2px solid #fce7f1;
    outline: none;
    font-size: 0.8em;
    text-align: center;
}

.btn{
    font-size: 1em;
    font-family:'aAbstractGroovy', cursive;
    background-color: white;
    border-radius: 1.8em;
    box-shadow: 0 0 20px rgba(250, 164, 207, 0.9);
    width: 50%;
}

.btn:hover{
    background-color: #ffe3f0;  
}


/*MENU DESPLEGABLE*/
#grid-menu-desplegable-page-contacto{
    grid-area: menuu;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 37%;
    width: 60%;
    flex-wrap: wrap;
    top: 0%;
    box-shadow: 0 0 20px rgba(117, 115, 116, 0.5);
    border-bottom-left-radius: 1.8em;
}


@include mobile{
        /*MENU DESPLEGABLE*/
        #grid-menu-desplegable-page{
            display: none;
        }
    
        div.caja-botones, .barbie-contacto{
            display: none;
        }
    
}

@include mobile{
    #grid-contenedor{
        border: 2px solid rgb(255, 255, 255);
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }


    .barbie-contacto{
        border: 2px solid rgb(255, 255, 255);
        margin-top: 5%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .size-barbie-contacto{
        width: 75%;
    }

    
    .dropdown{
        z-index: 1;
    }

    .boton-menu:hover{
        background-color: white;
    }


    /*MAPA*/
    #mapa {
        grid-area: mapa;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 70%;
        justify-self: center;
        margin-top: 5%;
        margin-bottom: 3%;
    }

    .mapa {
        width: 100%;
    }

    iframe{
        border-radius: 1.8em;
    
}


        /*MAPA*/
        #mapa {
            grid-area: mapa;
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-self: center;
            justify-self: center;
            margin-top: 5%;
            margin-bottom: 0%;
        }

        .mapa {
            width: 100%;
            height: auto;
        }

        iframe{
            border-radius: 1.8em;
        }  
        

        #grid-menu-desplegable-page-contacto{
           display: none;
        }

}
    