#whatsapp{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: .8;
    margin-right: 1%;
    margin-bottom: 1%;
    flex-wrap: wrap; 
    a{
        .icono{
            width: 50px;
        }
    }
}



#whatssap{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: .8;
    margin-right: 1%;
    margin-bottom: 1%;
    flex-wrap: wrap; 
    a{
        .icono{
            width: 50px;
        }
    }

    @media screen and (min-width: 320px) and (max-width: 456px) {
        .icono{
            width: 35px;
        } 
    }
    @media screen and (min-width: 457px) and (max-width: 960px) {
    .icono{
        width: 40px;
    }
    
    }
    
}