@import "../base/mixin";
@import "../base/listas";


#whatsapp{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: .8;
    margin-right: 1%;
    margin-bottom: 1%;
    flex-wrap: wrap; 
    a{
        .icono{}
        
    }

    @include mobile{
        .icono{
            width: 35px;
        }
      }
    
    @include tablet{
        .icono{
            width: 45px;
        }
      }

    @include desktop{
        .icono{
            width: 50px;
        }
    }
    
    @include pantalla-grande{
        .icono{
            width: 65px;
        }
    }

      
}




  
