
/*para media quiery pantalla grande*/
    /*#texto-footer-butterfly*/
%textofooter {
        font-size: 1.2em;
        display: flex;
        justify-content: space-between;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        margin-bottom: 0.5%;
        margin-top: 0%;
        padding: 2%;
        flex-wrap: wrap;
    }


/*ANGEL.HTML*//*ANGEL.HTML*//*ANGEL.HTML*/
/* TAMAÑO PANTALLA GRANDE *//* TAMAÑO PANTALLA GRANDE */
#texto-footer{

    @extend %textofooter;
    

}