$colores:
rgb(243, 197, 222),
rgba(245, 8, 138, 0.5), 
rgba(247, 124, 183, 0.5),
#ffffff,
rgba(235, 47, 141, 0.1),
rgba(247, 225, 241, 0.8),
#f7acd7,
rgb(248, 160, 209),
rgba(250, 164, 207, 0.5),
rgba(248, 83, 160, 0.8),
rgba(250, 164, 207, 0.9),
rgba(123, 170, 224, 0.918),
rgba(187, 44, 44, 0.918),
rgba(209, 205, 207, 0.5),
black,
rgba(255, 255, 255, 0.8);

$font-family:
'Times New Roman', Times, serif,
'aAbstractGroovy', cursive;

$transform:
translate(-50%, -20%),
translateY(-60%),
translate(-50%, -50%)