

$breakspoints: (
 mobile: (min-width: 320px) and (max-width: 456px),
 tablet: (min-width: 457px) and (max-width: 960px),
 desktop: (min-width: 961px) and (max-width: 1198px),
 pantallegrande: (min-width: 1198px)
)